/* Font face declarations */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

/* h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
} */

.headers123 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: rgba(39, 34, 34, 0.7);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    padding-bottom: 3px;
}

#menu>li {
    margin-bottom: 1em;
    padding-left: 1em;
}

#menu > li {
    padding-top: 0.3rem;
}

#menu > li > a {
    padding: 0.2rem;
    transition: padding 0.3s, background-color 0.3s;
    background-color: transparent;
}

#menu > li > a:hover {
    padding: 0.2rem;
    background-color: rgba(39, 34, 34, 0.3);
    border-bottom: 1px solid #ffffff;
}

/* Hover effect example */
.logo:hover {
    background-color: rgba(123, 81, 141, 0.3);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(123, 81, 141, 0.85);
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
    
/* Hero section */
#hero {
    margin: 0;
    height: 100vh;
    align-items: center;
    align-content: center;
    padding: 0 8rem;
    background: black url('../images/Dark-London_small.webp') no-repeat center bottom/cover;
}

/* Hero image */
#cover-text {
    font-size: 120%;
    padding-top: 20px;
    background-color: rgba(241, 109, 107, .7);
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 60%;
    padding-left: 10px;
}

#cover-text>h1,
#cover-text>h3 {
    color: #ffffff;
}

/* Speach bubble */
.bubble {
    position: absolute;
    left: 15%;
    bottom: 50%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #252020;
    font-size: 120%;
    line-height: 1.1;
    border-radius: 40px;
    padding: 12px;
    width: 180px;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid rgba(255, 255, 255, 0.8);
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(255, 255, 255, 0.8);
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

/* Reasons section */
#reasons {
    width: 100%;
    background-color: #414141;
}

#reasons h2,
#learn h2,
#contacts h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 150%;
}

#benefits {
    background: black url('../images/London-bus-black-and-white-photography-with-color-08_2.webp') no-repeat bottom 0% left 15%/auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    align-items: center;
    align-content: center;
}

#benefits div {
    background-color: rgba(123, 81, 141, 0.83);
    padding: 10px;
    border-radius: 15px;
    font-size: 87%;
    margin: 15px 5px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    flex-basis: 180px;
    flex-grow: 1;
    flex-shrink: 0;
}

#benefits>div>div {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#benefits>div>div h3 {
    margin: 0;
    margin-left: 10px;
    width: 90%;
}

#benefits>div>div i {
    width: 10%;
    font-size: 150%;
}

/* Learnign resoursers section */
#learn {
    width: 100%;
    background-color: #414141;
}

#learn-container {
    background: black url('../images/Tower-Bridge.webp') no-repeat center top/cover;
    display: flex;
    flex-wrap: wrap;
}

#learn-container div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#learn-container h3 {
    /* Override the heading colour set in general style*/
    color: #fafafa;
}

#learn-container div img {
    border: 2px solid white;
}

#learn-container div svg {
    border: 2px solid white;
}

#oxford img,
#person img {
    background-color: white;
}

#macmilian {
    background-color: white;
}

/* Contacts section */

#contacts {
    width: 100%;
    background-color: #414141;
}

#contacts-container {
    margin: 0;
    padding: 0;
    height: 86vh; /* make space for the footer*/
    background: black url('../images/StockSnap_MA6Q3URJYB.webp') no-repeat center top/cover;
}

#contacts-container .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: inherit;
    gap: 2px;
    align-items: center;
    width: 100%;
}

#contacts-container .contact-info {
    width: 80%;
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(65, 65, 65, 0.7);
}

#contacts-container > div > div.contact-info > iframe {
    width: 100%;
    height: auto;
}

#contacts-container .contact-info-item {
    display: flex;
    font-size: 100%;
}

#contacts-container .contact-info-icon {
    height: 35px;
    width: 35px;
    background-color: rgba(48, 40, 40, 0.7);
    text-align: center;
    border-radius: 50%;
}

#contacts-container .contact-info-icon i {
    font-size: 15px;   
    line-height: 35px;
}

.iconsize {
    font-size:1.3em;
}

#contacts-container .contact-info-content {
    margin-left: 20px;
    line-height: 1;
}

#contacts-container .contact-info-content h4 {
    color: #1da9c0;
    font-size: 1em;
    margin-top: 5px;
}

#contacts-container .contact-info-content p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
}

#contacts-container .google-map-title {
    margin-bottom: 0px;
}

.google-map-iframe {
    margin-top:3px; 
    width: 400px;
    height: 267px;
}

.contact-info h3 {
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}

#contacts-container .contact-form {
    flex-grow: 0;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

#contact-form .input-box label {
    position: absolute;
    left: -9999px;
}

#contacts-container .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#contacts-container .contact-form .input-box:nth-child(5){
    margin-top: 0px;
}

#contact-form>div:nth-child(2) {
    margin-top: 4px !important;
}

#contacts-container .contact-form .input-box input,
#contacts-container .contact-form .input-box textarea {
    width: inherit;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 12px;
    margin: 0;
    margin-top: 3px;
    border: none;
    outline: none;
    resize: none;
    background-color: rgba(255, 255, 255, 0.7);
}

#contacts-container .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding-top: 3px;
    padding-left: 20px;
    font-size: 1em;
    margin: 0;
    pointer-events: none;
    transition: 0.5s;
    color:  rgba(48, 40, 40, 0.85);
}

#contacts-container .contact-form .input-box input:focus~span,
#contacts-container .contact-form .input-box textarea:focus~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-14px);
}

#contacts-container .contact-form .input-box input[type="submit"] {
    width: 100%;
    background: rgba(0, 188, 212, 0.7);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #00bcd4;
    transition: 0.5s;
}

#contacts-container .contact-form .input-box input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #00bcd4;
}

#contacts-container .contact-form h3 {
    font-size: 1.3em;
    color:  rgba(48, 40, 40, 0.85);
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/* Footer */

footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 80%;
    background-color: rgba(39, 34, 34, 1);
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 0.5rem;
}

/* Media query: small phone (350px and up */
@media screen and (min-width: 350px) {

    /* Speach bubble */
    .bubble {
        left: 28%;
    }
}

/* Media query: small phone (506px and up */
@media screen and (min-width: 505px) {
    /* Styles for h2 titles */
    #reasons h2,
    #learn h2,
    #contacts h2 {
        text-align: left;
        margin-left: 210px;
    }

    /* Speach bubble */
    .bubble {
        left: 45%;
    }
}

/* Media query: large or landscape phone (576px and up) */
@media screen and (min-width: 576px) {

    /* Hero section styles */

    #cover-text {
        height: 200px;
        padding-left: 10px;
        font-size: 130%;
        bottom: 30px;
        width: 300px;
        right: 50px;
    }

    /* Styles for h2 titles */
    #reasons h2,
    #learn h2,
    #contacts h2 {
        margin-left: 225px;        
        font-size: 180%;
    }

    /* Reason styles */
    #benefits {
        gap: 5%;
        align-items: stretch;
    }

    #benefits div {
        flex-basis: 220px;
        
    }

    /* Contacts sections styles */

    #contacts-container .container {
        font-size: 95%;
        gap: 10px;
    }

    #contacts-container .contact-info {
        margin-top: 5px;
        max-width: 38%;
    }

    #contacts-container .contact-form {
        max-width: 38%;
        margin-bottom: 5px;
    }

    #contacts-container .contact-form .input-box input,
    #contacts-container .contact-form .input-box textarea {
        padding: 10px;
    }

    .contact-info h3 {
        padding-bottom: 10px;
        font-size: 2em;
    }

    #contacts-container .contact-form h3 {
        font-size: 2em;
        padding: 10px;
        margin: 10px;
    }        

    /* Footer styles */
    footer {
        font-size: 100%;
    }

}

/* Media query: landscope */
@media only screen and (max-width: 653px) and (orientation: landscape) and (max-height: 280px) {
    /* Hero section styles */

    #hero {
        padding: 0 1rem;
    }

    /* Reasons sections */

    #reasons {
        height: 100%;
    }
    #benefits {
        height: 100%;
    }

    /* Contacts section */
    #contacts {
        height: 100%;
    }

    #contacts-container {
        height: 100%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Main content */
    main {
        background-color: black;
    }

    /* h2 styles */
    #reasons h2,
    #learn h2,
    #contacts h2 {
        margin-left: 70px;
        text-align: center;
        font-size: 280%;
    }

    /* Hero image */
    /* background-image for sections */
    #hero {
        background: black url('../images/Dark-London.webp') no-repeat center center/cover;
    }
    #cover-text {
        width: 350px;
    }
    .bubble {
        width: 220px;
        padding: 24px;
    }

    /* Section reasons */

    #reasons {
        height: 100vh;
    }

    #benefits {
        background: black url('../images/London-bus-black-and-white-photography-with-color-08_2.webp') no-repeat bottom 0% left 0%/cover;
        gap: 0px;
        height: 100%;
    }

    #benefits>div {
        flex-basis: 230px;
        flex-grow: 0;
    }

    #benefits hr {
        border-top: 1px solid #3a3a3a;
        margin: 5px 0;
    }

    /* learn section styles */

    #learn-container {
        background: black url('../images/Tower-Bridge.webp') no-repeat bottom center/cover;
    }

    /* Contacts sections styles */
    #contacts-container .container {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 30px;
    }

}

/* Large devices (Notebooks, 992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* h2 styles */
    #reasons h2,
    #learn h2,
    #contacts h2 {
        margin-right: 150px;
    }

    /* Contacts sections styles */

    #contacts-container .contact-info {
       max-width: 30%;
    }

    #contacts-container .contact-form {
       max-width: 30%;
    }
    
    #contacts-container .contact-info-content {
        line-height: 1.2;
    }

}

/* Media query: landscope */
@media only screen and (max-width: 1600px) and (orientation: landscape) and (max-height: 720px) {
    /* Hero section styles */

    #hero {
        padding: 0 1rem;
    }

    #cover-text {
        font-size: 130%;
        bottom: 3%;
        width: 280px;
        height: auto;
        right: 1%;
    }

    .bubble {
        bottom: 50%;
        left: 40%;
        font-size: 110%;
        width: 180px;
    }

    /* Reasons section */

    #reasons {
        height: 100%;
    }

    #benefits {
        height: 100%;
    }    

    /* Contacts section */
    #contacts {
        height: 100%;
    }

    #contacts-container {
        height: 100%;
    }
}

/* Desktops 1600px and up */
@media screen and (min-width: 1600px) {

    /* Reasons sections style  */

    #reasons {
        height: 100vh;
    }

    #benefits div {
        font-size: 95%;
    }
}